{% extends '_layouts/cp' %}

{% set title = "Pimp My Matrix"|t %}

{% set content %}
	<h2>{{ "Set up your Matrix fields for the global context"|t }}</h2>
	<table class="data fullwidth">
		<thead>
			<th scole="col">{{ "Name"|t }}</th>
			<th class="thin"></th>
		</thead>
		<tbody>
			{% for field in matrixFields %}
				<tr>
					<td>
						<a title="{{ 'Edit'|t }}" role="button">{{ field.name }}</a>
					</td>
					<td class="thin">
						{% if field.id in globalPimpedBlockTypes|keys %}
							<a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endset %}
